:root{
    --white-color: #ffffff;
    --balck-color: #000000;
    --blue-color: #0800ff;
    --red-color: #ff0000;
    --grey-dark-color: 909090;
    --grey-light-color: e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Roboto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--balck-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search {
    margin-right: var(--padding);
}
